body {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

h1 {
    padding: 10px;
    text-transform: uppercase;
}

#content {
    text-align: center;
    border: 5px solid white;
    padding: 10px;
    background: white;
}

#infoBtn {
    padding: 10px;
    background: rgb(252, 234, 234);
    font-size: 20px;
}

#infoBtn:hover {
    background: rgb(126, 58, 58);
}

#datatable {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

th {
    padding: 10px;
}
